<a href="https://colab.research.google.com/github/Gael199/intermediate-python-course/blob/master/Entrainement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Opérations vectorisées sur les chaînes

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data = ['pierre', 'Paul',None,'Marie','guY']
[s.capitalize() for s in data]                        # L'opération va échouer dès qu'elle détecte une valeur manquante

AttributeError: 'NoneType' object has no attribute 'capitalize'

Pandas répond aux deux besoins de vectorisation des opérations chaînes et gestion correcte des valeurs manquantes au moyen de l'attribut nommé str des objets Series de Pandas à partir de nos données précédentes :

In [10]:
import pandas as pd
names = pd.Series(data)
names

0    pierre
1      Paul
2      None
3     Marie
4       guY
dtype: object

Nous pouvons ensuite appeler une méthode pour normaliser toutes les entrées avec une majuscule sans nous soucier de la valeur manquante :

In [11]:
names.str.capitalize()

0    Pierre
1      Paul
2      None
3     Marie
4       Guy
dtype: object